body, html{
	height: 100vh;
	width: 100vw;
	margin: 0;
}

body{
	background-image: url('/images/stacked_circles.png')
}

div#wrapper.landing {
	background: url('/images/thoughtbrew.jpg') no-repeat center center;
	background-size: cover;
	margin: 0;

}

ul#comments, ul#topics, ul#recent {
	display: block;
	list-style-type: none;
}
ul#comments li, ul#topics li{
	display: inline-block;
	margin-left: 1%;
}
.landing{
	text-align: center;
	height: 100vh;
	width: 100vw;
}
#add-new, #add-user, .new-user, .hidden {
	display: none;
}


#top{
	float: right;
}

img#user-image{
	border-radius: 100%;
	width: 50px;
	height: 50px;
	overflow: hidden;
}

#add-user{
	top: 50%;
	width: 80%;
	margin: auto;
	position: relative;
	text-align: center;
	z-index: 101;
}
.new-user{
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(0,0,0,0.9);
	z-index: 100;
}
#error-add-user{
	top: 50%;
	width: 80%;
	margin: auto;
	position: relative;
	text-align: center;
	z-index: 101;

}
#black{
	background-color: #000000;
	color: #ffffff;
	padding-bottom: 1%;
}
.home{
	margin-bottom: 3%;
}
#home-container{
	width: 60%;
	margin: auto;
	text-align: center;
	position: relative;
	padding-top: 5%;
}
.error-new-user{
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(0,0,0,0.8);
	z-index: 100;
}
#align-right{
	text-align: left;

}
#text {
	padding-top: 5%;
	padding-left: 10%;
}

#main{
	padding-bottom: 10%;
}
#comment {
	height: 10%;
	width: 100%;
	padding: 1%;
	bottom: 0;
	left: 0;
	position: fixed;
	background-color: #cdcdcd;
}
a{
	color: #60776f;
	text-decoration: none;
}

a:hover {
	color: #60928a;
	text-decoration: none;
}
.custom-wrapper {
    background-color: #abd9e8;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 2.1em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.custom-wrapper.open {
    height: 14em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 46.88em) {

    .custom-menu-3 {
        text-align: left;
    }

    .custom-toggle {
        display: block;
    }

    .pure-u-sm-hidden {
    	display: none;
    }